<h1>Attribute Directives</h1>
<section class="tutorial-element">

  <h2>ngClass / ngStyle</h2>

  <!--This adds the css class background but not border-->
  <div [ngClass]="{border:false, background:true}"></div>
  <!--This adds the css class border-->
  <div [class.border]="true"></div>

  <!--This adds the css class background but not border-->
  <div [ngStyle]="{'background':'green'}"></div>

</section>

<hr>

<section class="tutorial-element">

  <h2>Custom Attribute Directive</h2>

  <article highlight>Some Text</article>

</section>
